@import "../css/style_main.css";

.card {
    padding: 3em;
    flex-direction: column;
    animation-name: move-from;
    animation-duration: 1s;
    margin-bottom: 10em;
    animation-fill-mode: forwards;
}

.card h1 {
    margin-top: 1em;
    text-align: center;
}

.row-redes {
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
    width: 100%;
}


.red p {
    margin: auto;
    text-align: center;
}

.red img {
    width: 4em;
}

@keyframes move-from {
    from {
        margin-bottom: 10em;
    } to {
        margin-bottom: 5em;
    }
}