@import "../css/style_main.css";

.card {
    padding: 3em;
    flex-direction: column;
}

.card h1 {
    margin-top: 1em;
    text-align: center;
}

.row-redes {
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
    width: 100%;
}


.red p {
    margin: auto;
    text-align: center;
}

.red img {
    width: 4em;
}