@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&family=Mulish:ital,wght@0,700;1,200;1,300;1,400;1,500&family=Work+Sans:wght@300;400;700&display=swap");

* {
  font-family: "Mulish", "Work Sans", sans-serif;
  margin: 0%;
  padding: 0%;
}

:root {
  --main-bg-color: #abc32f;
}

a {
  z-index: 30;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.nav-div {
  position: relative;
  color: #555555;
  display: flex;
  height: min-content;
  justify-content: space-between;
  padding-bottom: 1em;
  padding-top: 1em;
  height: max-content;
  box-shadow: 0.1px 0px 50px 1px gray;
}

.nav-div > a {
  margin: auto;
  margin-left: 0.9em;
  font-weight: 100;
  font-size: x-large;
}

.nav-div ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-div::before {
  content: "";
  position: absolute;
  background-color: #abc32f;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -20;
  opacity: 0.7;
}


.nav-div .button {
  margin-right: 0.9em;
  padding: 1em;
  font-size: large;
  border: solid 1px transparent;
}

.nav-div a {
  text-decoration: none;
  color: white;
  /* color: #555555; */
}

.nav-div .button:hover {
  border-radius: 3px;
  background-color: #aac32f63;
  border: solid 1px gray;
}

.nav-div li:hover h4 {
  vertical-align:bottom;
}

.selected-route {
  font-size: large;
  animation-name: init-route-loc;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

.page {
  position: relative;
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  margin: auto;
  z-index: 30;
  width: 50%;
  height: 50%;
  border-radius: 0.4em;
}

.card-shadow {
  box-shadow: 4px 5px 10px gray;
}

@keyframes init-route-loc {
  from {
    text-shadow: 0 0 0 transparent;
    border: solid 0px transparent;
  }

  to {
    text-shadow: 0.5px 0.5px 3px gray;
    border: solid 0.4px gray;
  }
}
