@import "../css/style_main.css";

body {
  overflow-x: hidden;
}

.bg-hab {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}

.separation {
  width: 30%;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  height: 0.3em;
  background-color: var(--main-bg-color);
}

.bg-project {
  background-color: var(--main-bg-color);
  opacity: 0.5;
  position: absolute;
  display: flex;
  z-index: -300;
  height: 200%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  padding: 0;
}

.bg-project h1 {
  color: white;
  position: absolute;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right;
  left: 70%;
  margin: auto;
  font-size: 600%;
}

.container-skills {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 80%;
  height: 75%;
  margin-bottom: 2.4em;
  gap: 2em;
}

/* override de card style in style_main.css */

.container-skills .card {
  z-index: 30;
  padding: 1em;
  height: max-content;
  width: max-content;
}

.project-card {
  padding: 2em;
}

.project-card .line-decoration {
  height: 0.5em;
  border-radius: 0.3em;
  width: 80%;
  background-color: rgb(63, 104, 73);
  margin: auto;
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.container-skills .card > img {
  height: 4em;
  width: auto;
}

.container-skills .card > span {
  text-align: center;
  width: max-content;
  margin: auto;
}

.row-skills {
  display: flex;
  gap: 2em;
  height: max-content;
  flex: 1;
}

.row-skills:nth-child(even) {
  animation-name: from-right;
  animation-duration: 1s;
}

.row-skills:nth-child(odd) {
  animation-name: from-left;
  animation-duration: 1s;
}

.container-skills-work .row-skills {
  position: relative;
}

.container-skills-work .row-skills h1 {
  position: absolute;
  z-index: -200;
  vertical-align: middle;
  color: rgba(79, 76, 76, 0.974);
  top: -1.5em;
  left: 0;
  font-size: medium;
  text-align: center;
}


.container-skills-work .card {
  min-width: 6em;
  min-height: 3em;
}

.container-skills-work {
  gap: 1em;
}

.idioma {
  position: relative;
}

.idioma:first-child img {
  border-radius: 1em;
}

.idioma:nth-child(2) {
  margin-left: 3em;
  margin-right: 3em;
}

.idioma img {
  width: 5em;
}

.idioma p {
  text-align: center;
}

.grid-projects {
  margin: auto;
  width: 80%;
  height: max-content;
  top: 50%;
  margin-top: 7em;
  margin-bottom: 4em;
  display: flex;
  gap: 2em;
}

.page-grid {
  height: max-content;
}

.page-grid .bg-project {
  height: 100%;
}

.grid-projects .card {
  margin: 0;
  flex-direction: column;
  width: auto;
  height: max-content;
}

.page-grid .bg-project h1 {
  color: black;
  left: 1em;
}

.project-card a {
  text-decoration: none;
  display: inline;
  width: min-content;
  color: #085c0bfc;
}

.grid-projects .project-card::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -300;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

#col-1 .project-card:nth-child(2)::before {
  content: "";
  background-color: yellowgreen;
  background-image: url("../res/chubby_app.png");
}

#col-2 .project-card:nth-child(1):before {
  background-image: url("../res/taller_palacios.jpg");
}

#col-2 .project-card:nth-child(2)::before {
  background-image: url("../res/le-croissant.jpg");
}

#col-2 .project-card:nth-child(2)::before {
  background-image: url("../res/le-croissant.jpg");
}

#col-1 .project-card:nth-child(3)::before {
  background-image: url("../res/python-code.png");
}

#col-2 .project-card:nth-child(3)::before {
  background-image: url("../res/columna-opi.png");
}

#col-2 .project-card:nth-child(4)::before {
  background-image: url("../res/app_Ex.jpg");
  background-position-y: 5%;
}

#col-1 .project-card:nth-child(4)::before {
  background-image: url("../res/algebra_es.png");
}

.project-card p {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  background-position: left top;
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 50%;
}

.project-card span {
  color: aliceblue;
  background-color: var(--main-bg-color);
  padding: 1em;
  text-align: start;
  font-size: x-large;
  border-bottom-left-radius: 1em;
}

#android-link {
  background-color: white;
  padding: 0;
  display: inline-block;
}

.offset {
  height: 15em;
}

.evaluado {
  margin-top: 0.5em;
}

@keyframes from-right {
  from {
    margin-left: -20em;
  }
  to {
    margin: 0;
  }
}

@keyframes from-left {
  from {
    margin-right: -20em;
  }
  to {
    margin: 0;
  }
}
